
<div class="span3 well">
  <center>
    <h2>ユーザ情報</h2>
    <!--以下はサンプル画像
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle">-->
      <% if @user.image? %>
        <%= image_tag @user.image.thumb.url %>
      <% end %>
      <h3><%= @user.name %></h3>
      <% if current_user == @user %>
        <h4>メールアドレス</h4>
        <%= @user.email %>
      <% end %>
      <h4>プロフィール文</h4>
      <%= @user.content %>
  </center>
</div>
<h3 class="text-center">つくった読書会</h3>
  <%= render "circles/circles", circles: @created_circle %>
<% if current_user == @user %>
  <%= link_to "ユーザ情報を編集する", edit_user_path(@user), class: "btn btn-default" %>
  <%= link_to "退会する", @user, method: :delete, data: { confirm: "本当に退会してよろしいですか？"}, class: "btn btn-danger" %>
<% end %>