
<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading text-center book-marker">
        <div>新規読書会</div>
        <img src="<%= @book.image_url %>" alt="">
      </div>
      <div class="panel-body">
        <h4>使用する本 : <%= @book.name %></h4>
        
        <%= form_for(@book_circle) do |f| %>
          <div class="form-group">
             <%= f.label :title, "読書会名" %>
             <%= f.text_field :title, class: "form-control" %>
          </div>
          <div>
            <h4>開催方法（必須）</h4>
          </div>
          <label><%= f.radio_button :attend, 0 %>オンライン</label>
          <label><%= f.radio_button :attend, 1 %>オフライン</label>
          <label><%= f.radio_button :attend, 2 %>どちらも可</label>
          <div>
            <h4>開催手法・場所（必須）</h4>
          </div>
          <div>
            <P>オンライン</P>
          </div>
          <label><%= f.radio_button :online, 0 %>Skype</label>
          <label><%= f.radio_button :online, 1 %>Zoom</label>
          <label><%= f.radio_button :online, 2 %>apper.in</label>
          <label><%= f.radio_button :online, 3 %>その他</label>
          <div class="form-group">
            <%= f.label :online_detail, "「その他」の場合はオンライン開催でつかうツール名を入力" %>
            <%= f.text_field :online_detail, class: "form-control" %> 
          </div>
          <div>
            <P>オフライン</P>
          </div>
          <div class="form-group">
            <%= f.label :offline_detail, "場所" %>
            <%= f.text_field :offline_detail, class: "form-control" %>
          </div>
          <div>
            <p>開催日時（必須）</p>
          </div>
          <%= f.datetime_field :reserved_at %>
          <div>
            <P>定員（必須・主催者は含めない）</P>
          </div>
          <%= f.select :capacity, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], { include_blank: "選択してください" } %>
          
          
          <div>
            <p>時間（必須）</p>
          </div>
          <label><%= f.radio_button :minutes, 0 %>30分</label>
          <label><%= f.radio_button :minutes, 1 %>60分</label>
          <label><%= f.radio_button :minutes, 2 %>90分</label>
          <label><%= f.radio_button :minutes, 3 %>120分</label>
          
          <div class="form-group">
            <%= f.label :content, "どのような読書会にしたいか（詳細）" %>
            <%= f.text_area :content, class: "form-control", size: "24x10" %>
          </div>
          
          <%= f.hidden_field :book_id %>
          <%= f.hidden_field :user_id %>
          <%= f.submit "この内容で読書会を作成する", class: "btn btn-success" %>
        <% end %>

        
        
        
      </div>
    
    </div>
    
        
  </div>
</div>
