<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="circle">
      <div class="panel panel-default">
        <div class="panel-heading text-center ">
          <h4>読書会名 : <%= @circle.title %></h4>
          <img src="<%= @book.image_url %>" alt="">
          <p>定員まであと<%= @capacity %>人</p>
        </div>
        <div class="panel-body circle-index" >
        
          <p>使用する本</p>
          <div class="border"><%= @circle.book.name%></div>
          <p>主催者</p>
          <div class="border"><%= link_to @circle.user.name, user_path(@circle.user) %></div>
          <div class="border">
            <p>【開催手法・場所】</p>
            <% if @circle.attend == 0 %>
              <p>オンライン</p>
              <div>
                <% unless @circle.online == 3 %>
                  <%= online_number(@circle) %>
                <% else %>
                  <%= @circle.online_detail %>
                <% end %>
              </div>
            <% elsif @circle.attend == 1 %>
              <p>オフライン</p>
              <div>
                <%= @circle.offline_detail %>
              </div>
            <% else %>
              <p>オンライン</p>
              <div> 
                <% unless @circle.online == 3 %>
                  <%= online_number(@circle) %>
                <% else %>
                  <%= @circle.online_detail %>
                <% end %>
              </div>
              <p>オフライン</p> 
              <div>
                <%= @circle.offline_detail %>
              </div>
              
            <% end %>
          </div>  
            
          <div class="border">  
            <p>開催日時</p>
            <div><%= @circle.reserved_at %></div>
          </div>
          <div class="border">
            <p>所要時間</p>
            <div>
              <%= circle_number(@circle) %>
            </div>
          </div>
          <div class="border">
            <p>定員 : <%= @circle.capacity %> 人</p>
          </div>
          <div>
            <div>詳細</div>
            <div class="text-center"><%= @circle.content %></div>
          </div>
          
        </div>
        <div class="panel-footer">
          <div class="buttons">
            <% if logged_in? %>
              <% unless current_user.id == @circle.user.id %>
                <% if @capacity > 0 %>
                  <%= render "circles_users/keep_button", circle: @circle %>
                  <%= render "circles_users/entry_button", circle: @circle %>
                <% else %>
                  <p>この読書会は定員に達しました。</p>
                <% end %>
              <% end %>
            <% end %>  
            <% unless logged_in? %>
              <p>参加するには<%= link_to "ログイン", login_path %>が必要です。</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>
